.app {
  position: relative;
  text-align: center;
  background-image: url('../public/assets/img/lab-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.app-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.liquid-tube {
  width: 20vw;
  height: 20vw;
  background-image: url('../public/assets/img/tabung-liquid.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s ease-out;
}

.vessel-container {
  position: absolute;
  bottom: 5%;
  left: 20%;
  width: 60%;
  gap: 8%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.vessel {
  width: 100%;
  height: 100%;
  background-image: url('../public/assets/img/bejana.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  display: block;
  z-index: 2;
}

.vessel-box {
  width: 30%;
  height: 100%;
  display: block;
  position: relative;
}

.vessel-water {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: url('../public/assets/img/air-bejana.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 1px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.active {
  opacity: 1;
}

.glass-box {
  position: absolute;
  bottom: 25%;
  left: 35%;
  width: 45%;
  height: 50%;
  display: flex;
  box-sizing: border-box;
  padding: 0 5.75%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-image: url('../public/assets/img/aquarium.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-wrap: nowrap;
}

.glass-box-tube {
  flex: 1 1 auto;
  height: 100%;
}

.termometer {
  position: absolute;
  top: 50%;
  left: 7%;
  width: 50px;
  height: 400px;
  transform: translateY(-50%);
  background-image: url('../public/assets/img/termometer.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.termometer-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


.termometer-label {
  position: absolute;
  display: block;
  top: 50%;
  left: 7%;
  height: 400px;
  transform: translate(70px, -50%);
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  box-sizing: border-box;
  color:#FFE600;
  font-size: 24px;
  font-weight: 500;
}

.scene2-finish-label {
  position: absolute;
  bottom: 25%;
  left: 35%;
  width: 45%;
  height: 50%;
  font-size: 48px;
  font-weight: 700;
  line-height: 75px;
  color: #FFE600;
  transform: translateY(-100px);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.vessel-full-container {
  width: 200px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vessel-full {
  width: 100%;
  height: 100%;
  background-image: url('../public/assets/img/desolusi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.termometer-full {
  width: 35px;
  height: 200px;
  background-image: url('../public/assets/img/termometer-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 80px;
  left: 30px;
}

.ctm {
  width: 50px;
  height: 50px;
  background-image: url('../public/assets/img/CTM.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50px;
  left: 100px;
  position: absolute;
}

.ctm-drop-target {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  border: 3px dashed #FFE600;
}
